<h2 mat-dialog-title>{{ data ? 'Editar Rol' : 'Crear Nuevo Rol' }}</h2>

<form [formGroup]="roleForm">
  <mat-dialog-content class="form-container">
    
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre del Rol</mat-label>
      <input matInput formControlName="name" placeholder="Ej: ADMIN_VENTAS">
      
      @if (roleForm.get('name')?.hasError('required') && roleForm.get('name')?.touched) {
        <mat-error>El nombre es obligatorio</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description" placeholder="Descripción de responsabilidades"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Asignar Módulos</mat-label>
      <mat-select formControlName="modules" multiple [compareWith]="compareModules">
        
        <mat-select-trigger>
          {{ roleForm.get('modules')?.value?.[0]?.name }}
          @if ((roleForm.get('modules')?.value?.length || 0) > 1) {
            <span class="additional-selection">
              (+{{ (roleForm.get('modules')?.value?.length || 0) - 1 }} 
               {{ roleForm.get('modules')?.value?.length === 2 ? 'otro' : 'otros' }})
            </span>
          }
        </mat-select-trigger>
        
        @for (module of allModules(); track module.id) {
          <mat-option [value]="module">
            {{ module.name }} 
            <small style="color: gray; margin-left: 8px;">- {{ module.description }}</small>
          </mat-option>
        } @empty {
          <mat-option disabled>No hay módulos disponibles</mat-option>
        }

      </mat-select>
      <mat-hint>Selecciona los accesos para este rol</mat-hint>
      
      @if (roleForm.get('modules')?.hasError('required') && roleForm.get('modules')?.touched) {
        <mat-error>Debes asignar al menos un módulo</mat-error>
      }
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancel()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="roleForm.invalid">
      <mat-icon>save</mat-icon>
      {{ data ? 'Actualizar' : 'Guardar' }}
    </button>
  </mat-dialog-actions>
</form>